gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
.kotlin/

# Android binaries
*.apk
*.aab

# Firebase & Keystore secrets (never commit)
google-services.json
key.properties
**/*.keystore
**/*.jks

